<h1>Hue Lampen</h1>

<table style='border: solid'>
  <% (1..3).each do |row| %>
    <tr>
      <% (1..3).each do |col| %>

        <% light = @lights.find_by(row: row, column: col) %>

          <% if light %>

            <td style='border: solid'>
              <h3><%= light.name %></h3>
              <%= render 'adjust_light_form', light: light %>
              <%= link_to "zet uit", [:turn_off, light] %>
            </td>

          <% else %>

            <td style='border: solid; background-color: #000'>
            </td>

          <% end %>

      <% end %>
    </tr>
  <% end %>
</table>

<% if false %>
<h4><%= link_to "voeg een nieuwe lamp toe", [:new, :light] %></h4>
<% end %>
